<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Pandas</title>
    <!-- Puedes incluir Bootstrap para estilos de tabla -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Datos de Pandas</h1>
        <div class="table-responsive">
            {{ data_html|safe }}
        </div>
    </div>
</body>
</html>
